
# Editor Backups
*~

# Generated TTS Cache
assets/tts_cache/

# Ignore all mp3's by default
*.mp3
# BUT allow tracked voice db mp3's
!assets/voice_db/**/*.mp3

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
.env
*.log

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
